body {
    background-image: url('New Piskel.gif');
    background-repeat: repeat;
    image-rendering: pixelated;
    background-size: 16px 16px;
}


.container {
    padding: 20px;
    margin: 10px;
    border: 5px solid black;
    background-color: #f0f0f0;
}

